@model JPCSystem.Domain.Apoderado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3 >
    Esta Usted seguro de eliminar al Apoderado
    <h3 style="color: red">
        @Html.DisplayFor(model => model.Nombres) @Html.DisplayFor(model => model.ApPaterno)
    </h3>
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Documento: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroDocumento)
        </dd>

        <dt>
            Apoderado: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApPaterno)
            @Html.DisplayFor(model => model.ApMaterno), 
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartamentoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistritoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistritoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinciaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinciaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoId)
        </dd>*@

        <dt>
            Lugar de Trabajo: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarTrabajo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index",new {},new {@class="btn btn-success" })
        </div>
    }
</div>
